<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    <!--Создание бина для класса Calculator.-->
    <bean id="calculator"
          class="com.mitso.spring.generator.Calculator">
        <!--Внедрение значения "append" типа String как аргумент конструктора-->
        <constructor-arg type="double"
                         value="1.5" />
        <constructor-arg type="java.lang.String"
                         value="/" />
        <constructor-arg type="double"
                         value="0" />
    </bean>
    <!--Создание бина для класса GeneratorService.-->
    <bean id="generatorService"
          class="com.mitso.spring.service.GeneratorService">
        <!--Внедрение бина с id "alphanumericStringGenerator" как поле
        stringGenerator с использованием сеттера-->
        <property name="stringGenerator" ref="calculator"/>
        <!--Внедрение значения 20 в поле "text" с использованием сеттера-->
    </bean>
</beans>